body {
  font-family: "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: medium;
  overflow: hidden;
}
ul {
  margin-top: 4px;
  padding-left: 26px;
}
#paypal-buttons {
  width: 440px;
}
